/* Filters.module.scss */
.filters {
    width: 250px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  
    .filter-group {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  
    label {
      font-weight: bold;
    }
  
    select, button {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      cursor: pointer;
    }
  
    select {
      background: white;
    }
  
    button {
      background: #333;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      &:hover {
        background: #555;
      }
    }
  }
  